doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
        //禁用苹果默认样式
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        //作者信息
        meta(name="author" content="name:Geek.Yu,email:1098654043@qq.com")
        //版权信息
        meta(name="copyright" content="")
        //禁止ios自动识别手机号和邮箱
        meta(name="format-detection" content="telephone=no,address=no")
        //木有车网页关键词
        meta(name="keywords" content="")
        //木有车网页描述
        meta(name="description" content="木有车汽车服务平台(m.muyouche.com)")
        title 木有车_校检配置
        //引入字体文件
        link(href="../font/iconfont.css", rel="stylesheet", type="text/css")
        link(href="../css/app.css", rel="stylesheet", type="text/css")
        //调用弹性布局js
        script(src="../js/flexible.js")
        

    body.user-unselect(oncontextmenu="return false")
        
        .main-view.complete
            //车辆信息
            section.car-info
                .group-cells
                    section.group-cell.tit
                        .cell__bd
                            p.fl 
                                i.iconfont.icon-car
                                span 车辆信息
                    section.group-cell
                        .cell__bd
                            p 车架号
                        .cell__ft
                            |#{data.vin}
                    section.group-cell
                        .cell__bd
                            p 品牌
                        .cell__ft
                            | 大众
                    section.group-cell
                        .cell__bd
                            p 型号
                        .cell__ft
                            |帕萨特领驭
                    section.group-cell
                        .cell__bd
                            p 上市时间
                        .cell__ft
                            | 2007
                    section.group-cell
                        .cell__bd
                            p 排放标准
                        .cell__ft
                            | 国4
                    section.group-cell
                        .cell__bd
                            p 厂家指导价
                        .cell__ft
                            | 19.98万元
                    section.group-cell
                        .cell__bd
                            p 最后进店时间
                        .cell__ft
                            |#{data.last_time_to_shop}
                    section.group-cell
                        .cell__bd
                            p 最后进店里程
                        .cell__ft
                            |#{data.total_mileage}
                            |公里
                    section.group-cell
                        .cell__bd
                            p 里程是否异常
                        .cell__ft
                            | 否
                    section.group-cell
                        .cell__bd
                            p 三大件维修记录
                        .cell__ft
                            | 暂无
                    section.group-cell
                        .cell__bd
                            p 火烧、泡水
                        .cell__ft
                            | 暂无
                    section.group-cell
                        .cell__bd
                            p 车身结构异常
                        .cell__ft
                            | 暂无
            //维修保养记录
            section.report
                .group-cells
                    section.group-cell.tit
                        .cell__bd
                            p.fl 
                                i.iconfont.icon-empty
                                span 维修保养记录
                .reportlist
                    ul
                        -for(var i = 0; i<data.result.length; i++)
                            -var item = data.result[i]
                            li
                                .timedistance
                                    span
                                        |#{item.date}
                                    span
                                        |#{item.mile}公里
                                    span
                                        div.imgwrap(style="display:none")
                                            i.iconfont.icon-arrowdownb
                                            i.iconfont.icon-arrowupb(style="display:none")
                                        |#{item.type}
                                p
                                    span
                                        |细节：
                                    |#{item.detail}
                                p
                                    span
                                        |其他：
                                    |#{item.other}
            //免责条款
            section.statement
                .statementTit
                    h3
                        i.warn-ico
                        span
                            |免责条款
                        //装饰
                        .adorn
                .statementCon
                    p  本报告提供的所有内容及判断仅基于截至到报告购买日期收集的相关数据信息。关于此车辆其他信息（包括但不限于在非4S店或非授权制造商的维修保养信息）可能未被采集和收录。本报告仅是交易参考资料之一，请您结合实车勘验结果和试乘试驾体验，做出更精准的决策。

        // 引用jq库
        script(src="../js/jquery.min.js")
        // 移动端click事件延迟修复
        script(src="../js/fastclick.js")
        script(src="../js/app.js")
        script(type="text/javascript").
            full_mtnce_report();